/node_modules
/public/hot
/public/images
/public/css
/public/js
/public/fonts
/public/storage
/public/svg
/public/mix-manifest.json
/storage/*.key
/storage/medialibrary
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
http
_ide_helper.php
.phpstorm.meta.php
auth.json
